body {
    font-family: 'Roboto', serif;

    display: flex;
}

.day-view {
    padding: 80px 140px;
    flex: 1535 0 0;
}

.aside {
    padding: 80px 100px;
    flex: 802 0 0;
    background: rgba(42, 46, 65, .7);
}

.separation {
    display: block;
    box-sizing: border-box;

    border: 0;
    height: 4px;

    position: relative;
}

.separation::before {
    content: '';

    display: block;
    box-sizing: border-box;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;

    background: rgba(0, 0, 0, .17);
}

.separation::after {
    content: '';

    display: block;
    box-sizing: border-box;

    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 50%;

    background: rgba(255, 255, 255, .12);
}

.day-view__title {
    display: flex;

    padding-bottom: 90px;

    border-bottom: 2px solid #f3f3f3;
}

.day-view__day-text {
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;

    color: #243d6f;
}

.day-view__time-list {
    list-style: none;
    padding: 100px 0 0;
    margin: 0;
}

.day-view__time-row {
    position: relative;

    display: block;

    height: 120px;

    margin-left: 135px;

    border-bottom: 2px solid #f3f3f3;

    box-sizing: border-box;

    z-index: 1;
}

.day-view__time-key {
    position: absolute;
    top: 0;
    left: -135px;

    transform: translateY(-50%);

    font-weight: 500;
    font-size: 26px;
    line-height: 30px;

    color: #a4b0c3;
}

.day-view__event {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    padding: 12px 75px;

    background: rgba(133, 118, 237, .15);
    border-left: 6px solid #8576ed;

    box-sizing: border-box;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    font-weight: 500;
    font-size: 28px;
    line-height: 33px;

    color: #243d6f;

    z-index: 10;
}

.day-view__event--workshop {
    background: rgba(61, 131, 249, .15);
    border-color: #3d83f9;
}

.day-view__event--management {
    background: rgba(238, 165, 124, .15);
    border-color: #eea57c;
}
