.cross {
    display: flex;
    flex-direction: row;
}

.cross__timers,
.cross__actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.cross__actions {
    align-items: stretch;
}

.cross__action {
    margin: .5em 0;
    font-size: 1.2em;
}

.cross__timer-label .x__line1,
.cross__timer-label .x__line2,
.cross__timer-label .o {
    animation: none;
}

.cross__timer-label,
.cross__timer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cross__timer-label .x,
.cross__timer-label .o {
    height: 1em;
}

.cross__timer-label {
    font-size: 3em;
    margin-bottom: .2em;
}

.cross__timer-label:not(:first-child) {
    margin-top: 1.5em;
}

.cross__timer {
    font-size: 2em;
}

.cross__board {
    display: flex;
    flex-wrap: wrap;

    max-width: 600px;
    width: 100%;
    border: 1px solid black;

    margin: 0 auto;

    box-sizing: border-box;
}

.cross__board-item {
    position: relative;
    flex: 1 0 33%;

    padding-top: 33%;
    height: 0;

    border: 1px solid black;

    box-sizing: border-box;
}

.x,
.o {
    stroke: black;
    stroke-width: 7;
    stroke-linecap: round;
}

.o {
    fill: none;
    stroke-dasharray: 200;

    animation: a-o 2s linear 0s 1 normal backwards;
}

.x__line1,
.x__line2 {
    animation: x-o 1s linear 0s 1 normal backwards;
    stroke-dasharray: 73;
}

.x__line2 {
    animation-delay: 1s;
}

@keyframes x-o {
from {
    stroke-dashoffset: 73;
}

to {
    stroke-dashoffset: 0;
}
}

@keyframes a-o {
from {
    stroke-dashoffset: 200;
}

to {
    stroke-dashoffset: 0;
}
}

.cross__board-item-el {
    position: absolute;

    width: 80%;
    height: 80%;

    top: 10%;
    left: 10%;
}

.cross__board-item:hover {
    background-color: rgba(155, 224, 250, .16);
    cursor: pointer;
}

.cross__board-item--win-diagonal-0::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25'%3E%3Cline x1='0' y1='0' x2='100%25' y2='100%25' stroke='%23000' stroke-width='5'/%3E%3C/svg%3E");
}

.cross__board-item--win-diagonal-1::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25'%3E%3Cline x2='0' y1='0' x1='100%25' y2='100%25' stroke='%23000' stroke-width='5'/%3E%3C/svg%3E");
}

.cross__board-item--win-row::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25'%3E%3Cline x1='0' y1='50%25' x2='100%25' y2='50%25' stroke='%23000' stroke-width='5'/%3E%3C/svg%3E");
}

.cross__board-item--win-column::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25'%3E%3Cline y1='0' x1='50%25' y2='100%25' x2='50%25' stroke='%23000' stroke-width='5'/%3E%3C/svg%3E");
}
