html,
body {
    font-family: "Open Sans";
    font-size: 12px;

    color: #48555B;
}

body {
    margin: 0;
}

#first {
    width: 100%;
    min-height: 100vh;
    background: url(img/header.jpg) center top no-repeat;
    background-size: cover;
    padding-top: 74px;
    padding-bottom: 85px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-family: "Bebas Neue", serif;
    font-size: 5rem;
    line-height: 1.167;
    letter-spacing: .47578rem;
    text-align: center;

    margin: 0 0 21px;

    color: #FFFFFF;
}

#first {
    position: relative;
}

#first .logo {
    display: block;
    width: 103px;
    /* margin-right: auto; */
    /* margin-left: -52px; */

    position: absolute;
    top: 40px;
    /* left: calc(50% - 103px / 2); */
    left: 50%;
    transform: translateX(-50%);
}

.scroll-down {
    position: absolute;

    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);

    font-weight: 600;
    font-size: 11px;
    letter-spacing: 3.7px;

    color: #FFFFFF;
    text-decoration: none;
}

#first .logo img,
.logo__image {
    display: block;
    width: 100%;
}

.main-description {
    text-align: center;

    color: #FFFFFF;

    font-weight: 600;
    font-size: 1.333rem;
}

.section {
    display: flex;
    justify-content: center;

    width: 100%;
}

.section--navigation {
    border-bottom: 1px solid #E6E6E6;
}

.section__content {
    width: 100%;
    max-width: 941px;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navigation__logo {
    display: block;
}

.navigation__logo-img {
    display: block;
    height: 18px;
    width: auto;
}

.navigation__list {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
    align-items: stretch;

    min-height: 65px;
}

.navigation__list-item {
    margin: 0;
    padding: 0;

    display: flex;
    align-items: stretch;
}

.navigation__list-item + .navigation__list-item {
    margin-left: 42px;
}

.navigation__link {
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 600;
    font-size: 1rem;
    line-height: 1.333;

    text-decoration: none;

    color: #48555B;
}

.navigation__link:focus,
.navigation__link:hover {
    color: #00A4E5;
    outline: none;
}

.section__title {
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.3889;
    letter-spacing: 0.1922rem;



    text-align: center;
    margin: 0;
}

.story {
    /* margin-top: 50px; */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.story__content {
    flex: 0 0 43%;

    font-size: 1.08rem;
    line-height: 1.769;
}

.story__content p {
    margin: 0;
}

.story__content p:not(:first-child) {
    margin-top: 30px;
}

.story__list {
    flex: 0 0 49%;
}

.story__title {
    font-weight: bold;
    font-size: 1.6667rem;
    line-height: 1.35;
}

.story__title-strong {
    color: #16ACE8;
}

.story__list {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
}

.story__list-item {
    margin: 0;
    padding: 0;

    flex: 1 0 0;

    background: #D8D8D8;

    font-weight: 800;
    font-size: 24px;
    line-height: 29px;

    position: relative;
}

.story__list-item:not(.story__list-item--with-image)::before,
.story__list-item:not(.story__list-item--with-image)::after {
    content: '';

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* width: 100%; */
    /* height: 100%; */
}

.story__list-item-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.story__list-item::before {
    background: url(img/diego-ph-SZYreZsJ-fE-unsplash.jpg) center center no-repeat;
    background-size: cover;
    z-index: 1;
}

.story__list-item::after {
    /* opacity: .6; */
    background: rgba(0, 0, 0, .6);
    z-index: 2;
}

.story__list-item a {
    text-decoration: none;
    display: block;
    padding: 15px 20% 0 14px;

    color: #FFFFFF;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: 3;
}

.story__list-item:not(:first-child) {
    margin-left: 20px;
}

.section--story {
    margin-top: 58px;
}

.section--capabilities {
    margin-top: 118px;
}

.capabilities__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.capabilities__title {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    margin: 0 30px 0 0;
}

.capabilities__description {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    margin: 0 0 0 auto;

    font-size: .916rem;
    line-height: 1.7272;

    max-width: 406px;
}

.capabilities__link {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;

    margin-left: 30px;

    background: #00A4E5;

    font-weight: bold;
    font-size: 1.08rem;

    color: #FFFFFF;

    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 11px 29px;
}

.capabilities__link:focus,
.capabilities__link:hover {
    background: #0289bf;
    outline: none;
    box-shadow: 0px 0px 10px 0px #0289bf;
}

.capabilities__list {
    list-style: none;
    margin: 78px 0 0;
    padding: 0;

    display: flex;
}

/* 0 1 0 */
.capabilities__list-item {
    flex: 1 0 0;

    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;

    margin: 0;
    padding: 38px 22px;
}

/* 0 2 0 */
.capabilities__list-item:not(:first-child) {
    margin-left: 28px;
}

.capabilities__list-item::before {
    content: '';
    width: 26.5%;
    padding-top: 30.12%;
    height: 0;
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.capabilities__list-item--management::before {
    background-image: url('img/management.jpg');
}

.capabilities__list-item--maintenance::before {
    background-image: url('img/maintenance.jpg');
}

.capabilities__list-item--modeling::before {
    background-image: url('img/modeling.jpg');
}

.capabilities__list-item h3 {
    font-weight: bold;
    font-size: 1.3333rem;
    line-height: 1.5;

    margin: 25px 0 13px;
}

.capabilities__list-item div {
    font-size: 1.08rem;
    line-height: 1.77;
}

.story__section-title {
    position: relative;

    margin-bottom: 50px;
}

.story__section-title::after {
    content: '';
    position: absolute;

    width: 50px;

    border-top: 2px solid #00A4E5;
    box-sizing: border-box;

    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}



/* adaptive */
@media (max-width: 961px) {
    .section__content {
        max-width: none;
        padding: 0 12px;
    }

    .story {
        flex-direction: column;
    }

    .story__list-item {
        padding-top: 52.8%;
    }

    .story__list {
        margin-top: 50px;
    }

    .capabilities__header {
        flex-direction: column;
        align-items: center;
    }

    .capabilities__list {
        flex-direction: column;
    }

    .capabilities__title {
        margin: 0 0 30px;
    }

    .capabilities__description {
        max-width: none;
        margin: 0 0 30px;
    }

    .capabilities__link {
        margin: 0;
    }

    .capabilities__list-item:not(:first-child) {
        margin-left: 0;
        margin-top: 30px;
    }
}
